name = "JLD2"
uuid = "30b3fee2-9826-11e8-2ba3-a7612145d6ce"
authors = ["Simon Kornblith <simonster@users.noreply.github.com>"]
version = "0.0.7"

[deps]
CodecZlib = "944b1d66-785c-5afd-91f1-9de20f533193"
Compat = "34da2185-b29b-5c13-b0c7-acf172513d20"
DataStructures = "864edb3b-99cc-5e75-8d2d-829cb0a9cfe8"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
